@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  color: #fff;
  height: 100%;
  text-align: center;
  display: grid;
  place-content: center;
  background-image: linear-gradient(to right top, #ee122c, #f22532, #f53238, #f93c3f, #fc4645);
  font-family: "Poppins", sans-serif;
}
main {
  padding: 3em 2em;
  border:  4px solid #F05454;
}
main .form {
  display: block;
}

main .form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 1rem;
}
main .form div label {
  margin-bottom: 0.5em;
}
main .form div .form-control {
  padding: 0.5em;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

main .form button {
  border-radius: 5px;
  background-color: #3d3b33;
  color: white;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 0.5em 0.5em;
}


#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }